<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://assignmentdevopsprojectfwald.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2451749c-31e0-491a-993d-8b9928e72980/resourcegroups/AssignmentDevOpsProjectRessourceGroup/providers/Microsoft.Web/sites/AssignmentDevOpsProjectfwald</ResourceId>
    <UserName>$AssignmentDevOpsProjectfwald</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://assignmentdevopsprojectfwald.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>